
<div class=" mt-4 pl-5 pr-5">
<div class="d-flex justify-content-between align-items-center">
<h1><%= @category.name %></h1>
<div class="d-flex justify-content-end align-items-center">
<% if logged_in? && current_user.admin? %>
<%= link_to "Edit category", edit_category_path(@category), class: "btn btn-outline-info mr-2" %>
<%= link_to "Delete category", category_path(@category), method: :delete, class: "btn btn-outline-danger mr-2" %>
<% end %>
<%= link_to "back to categories", categories_path, class: "btn btn-outline-secondary" %>
</div >

</div>
</div>




<%= render "products/product" %>

