

<% # <div class="row p-4"> %>
<% # <div class="col-1"> %>

<% # <%= render "filter" %>
<% # </div> %>

<div class="pl-5 pr-5">
<div class="mt-4 mb-2 d-flex justify-content-between align-items-center">
<h1 >Product Listing: <%= @products.count %></h1>
<%= link_to "back to homepage", root_path, class: "btn btn-outline-secondary" %>
</div>

<table class="table table-striped table-bordered table-light">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Foreign Name</th>
      <th scope="col">Barcode</th>
      <th scope="col">Quantity</th>
      <th scope="col">Category</th>
      <th scope="col">Expiration Date</th>
      <th scope="col">Created Date</th>

      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
  <% @products.each do |product| %>
    <tr>
      <td class="text-capitalize"><%= link_to product.name, product_path(product) %></td>
      <td><%= product.foreign_name %></td>
      <td><%= product.barcode %></td>
      <td><%= product.quantity_in_total %></td>
      <% if product.category %>
       <td>  <%= product.category.name %></td>
       <% else %>
        <td>no</td>
      <% end %></td>

       <td><%= product.expiration_date.strftime("%m/%d/%Y") %>
      <td><%= product.created_at.strftime("%m/%d/%Y") %></td>
  <td><%= link_to "Edit", edit_product_path(product), class: "btn btn-outline-info text-center " %>
    <%= link_to "Delete", product_path(product), class: "btn btn-outline-danger text-center ", method: :delete, data: { confirm: "Are you sure?" } %></td></td>
    </tr>
    <% end %>
  </tbody>
</table>
</div>
</div>

